
body{
    margin: 0;
    padding: 0;
    background-color: rgb(60, 43, 43);
}


.pages1{
    height: 740px;
    width: 530px;
    position: absolute;
    top: 5%;
    left: 11%;
    background-color: rgb(255, 255, 255);
    border: 2px solid black ;
}

.pages2{
    height: 740px;
    width: 530px;
    position: absolute;
    top: 4.5%;
    left: 11.5%;
    background-color: rgb(255, 255, 255);
    border: 2px solid black ;
}

.pages3{
    height: 740px;
    width: 530px;
    position: absolute;
    top: 4%;
    left: 12%;
    background-color: rgb(255, 255, 255);
    border: 2px solid black ;
}

.pages4{
    height: 740px;
    width: 530px;
    position: absolute;
    top: 6%;
    left: 12.5%;
    background-color: rgb(255, 255, 255);
    border: 2px solid black ;
}

.scroll-bg{
    background-color: rgb(255, 255, 255);
    width: 500px;
    margin: 2% auto;
    padding: 20px;
   position: absolute;
   left: 10%;
   top: 0%;
   border-left: 20px solid black;
   border: 2px black solid;

}

.scroll-div{
    width: 500px;
    background-color: rgb(255, 255, 255);
    height: 700px;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-object{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    padding: 20px;

}


h1{
    font-size: 2.5em;
}

p{
    width: 45%;
    position: relative;
    left: 5%;

}

h4{
    font-size: 17px;
    width: 45%;
    position: relative;
    left: 5%;
    text-decoration: underline;
}

.NEXT{
    position: relative;
    left: 90%;
    bottom: 5%;
    text-decoration: underline;
}


.stick-note {
    position: absolute;
    top: 20%;
    left: 140%;
    background-color: rgb(253, 242, 178);
    height: 300px;
    width: 300px;
    font-size: 1em;
    border: 1px white solid;
    transform: rotate(15deg);
    opacity: 0;
    transition: opacity 0.3s ease; 
}

h4:hover ~ .stick-note {
    opacity: 1; 
}

.note{
    margin: 10%;
    position: relative;
    top: 5%;
    font-family:'Kalam';
    font-size: large;
}



.kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
  }

